.is-waving {
  animation-name: wave-animation;
  animation-delay: 0.5s;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

.wave-emoji {
  display: inline-block; // inline elements can't be rotated
  transform-origin: 70% 70%;
  margin-left: 0.5ch;

  &:hover {
    @extend .is-waving;
    animation-iteration-count: infinite;
    animation-delay: 0s;
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
