*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: var(--font-text);
  color: var(--color-text);
  font-weight: var(--weight-rg);
}

// Copied from https://web.dev/prefers-reduced-motion/
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

// @media (prefers-color-scheme) {}

html {
  font-size: 62.5%;
  letter-spacing: -0.5px;
  line-height: 1.6;
  // max-width: 100vw;

  p + p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  a {
    transition-property: all;
    transition-duration: 50ms;

    &:hover {
      text-decoration-style: wavy;
      text-decoration-skip-ink: none;
    }
  }

  @media only screen and (min-width: 500px) {
    font-size: 70%;
  }

  @media only screen and (min-width: 700px) {
    font-size: 68.75%;
  }

  @media only screen and (min-width: 1000px) {
    font-size: 75%;
  }
}
