<header class="banner">
  <div class="text">
    <h1 class="text--xxl title">Caleb C. Burton</h1>
    <div class="line"></div>
    <h2 class="text--md subtitle">Full Stack Developer</h2>
  </div>
</header>
<a class="arrow" href="#about" aria-label="Scroll to About section">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-6 w-6"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
    width="44"
    height="44"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M19 9l-7 7-7-7"
    />
  </svg>
</a>
