<footer class="footerWrapper">
  <span class="byline">
    Designed, built, and maintained by Caleb Burton
  </span>
  <div class="footer" data-animate>
    <span class="lastBuilt">
      Last build was {{ page.date }}
    </span>
    <span>
      <a href="https://github.com/CalebBurton/website-source" target="_blank" rel="noopener noreferrer">
        Source
      </a>
    </span>
    <span>
      <a href="https://bitsofco.de/the-new-system-font-stack/" target="_blank" rel="noopener noreferrer">
        System Font Stack
      </a>
    </span>
    <span>
      <a href="https://coolors.co/292929-203142-e3af72-ebebeb" target="_blank" rel="noopener noreferrer">
        Color Palette
      </a>
    </span>
  </div>
</footer>
