---
layout: layouts/main.njk
pageTitle: Not Found
permalink: 404.html
eleventyExcludeFromCollections: true
---

<h1>Not found!</h1>
<p>There's no page at that address... would you like to try one of the following?</p>
<ul>
    <li>
        <a href="javascript:history.go(-1)">Go back a page</a>
    </li>
    <li>
        <a href="/">Visit the homepage</a>
    </li>
    <li>
        {% url 'https://github.com/CalebBurton/website-source/issues', 'Submit a bug report' %}
    </li>
</ul>
