<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Caleb Burton</title>
</head>
<body>
    <script src="main.js"></script>
    <header>
        <h1>Caleb C. Burton</h1>
        <ul class="subhead">
            <li>Web Development</li>
            <li>Embedded Systems</li>
            <li>Global Health</li>
        </ul>
        <ul class="social">
            <li>
                <a href="" aria-label="Github">
                    <img src="./static/github.svg" aria-hidden="true">
                </a>
            </li>
            <li>
                <a href="" aria-label="Email">
                    <img src="./static/envelope.svg" aria-hidden="true">
                </a>
            </li>
            <li>
                <a href="" aria-label="LinkedIn">
                    <img src="./static/linkedin-in.svg" aria-hidden="true">
                </a>
            </li>
        </ul>
    </header>
    <main>
        <!-- <section>
            <li>Reading</li>
            <li>Listening to</li>
            <li>Watching</li>
            <li>Working on</li>
        </section> -->
    </main>
</body>
</html>