<footer>
    <section id="footer-social">
        <ul>
            <li>
                <a href="https://github.com/CalebBurton/" title="Github">
                    {#- <picture aria-hidden="true">
                        <source srcset="static/github.svg 40w">
                        <img src="static/github.svg" alt="Github" />
                    </picture> #}
                    {%- include "svgs/github.svg" %}
                </a>
            </li>
            <li>
                <a href="mailto:hi@calebburton.com" title="Email">
                    {# <picture aria-hidden="true">
                        <source srcset="static/envelope.svg 40w">
                        <img src="static/envelope.svg" alt="Email" />
                    </picture> #}
                    {%- include "svgs/envelope.svg" %}
                </a>
            </li>
            <li>
                <a href="/pages/keys" title="PGP Public Key">
                    {# <picture aria-hidden="true">
                        <source srcset="static/envelope.svg 40w">
                        <img src="static/envelope.svg" alt="Email" />
                    </picture> #}
                    {%- include "svgs/key.svg" %}
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/caleb-charles-burton/" title="LinkedIn">
                    {#- <picture aria-hidden="true">
                        <source srcset="static/linkedin.svg 40w">
                        <img src="static/linkedin.svg" alt="LinkedIn" />
                    </picture> #}
                    {%- include "svgs/linkedin.svg" %}
                </a>
            </li>
        </ul>
    </section>
    <section id="footer-copy">
        <hr />
        <p>
            Designed, built, and maintained by Caleb Burton.
        </p>
        <p>
        {%- if showCredits %}
            <a href="/pages/credits" class="elv-nav-light">See the credits</a> or <a href="https://github.com/CalebBurton/website-source" target="_blank" rel="noopener">view the source code</a>
        {%- else %}
            <a href="https://github.com/CalebBurton/website-source" target="_blank" rel="noopener">View the source code</a>
        {% endif %}
        </p>
    </section>
</footer>
