<footer>
    <section id="footer-social">
        <ul>
            <li>
                <a href="https://github.com/CalebBurton/" title="Github">
                    {#- <picture aria-hidden="true">
                        <source srcset="static/github.svg 40w">
                        <img src="static/github.svg" alt="Github" />
                    </picture> #}
                    {%- include "svgs/github.svg" %}
                </a>
            </li>
            <li>
                <a href="mailto:" title="Email">
                    {# <picture aria-hidden="true">
                        <source srcset="static/envelope.svg 40w">
                        <img src="static/envelope.svg" alt="Email" />
                    </picture> #}
                    {%- include "svgs/envelope.svg" %}
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/caleb-charles-burton/" title="LinkedIn">
                    {#- <picture aria-hidden="true">
                        <source srcset="static/linkedin.svg 40w">
                        <img src="static/linkedin.svg" alt="LinkedIn" />
                    </picture> #}
                    {%- include "svgs/linkedin.svg" %}
                </a>
            </li>
        </ul>
    </section>
    <section id="footer-copy">
        Designed, built, and maintained by Caleb Burton
        {# <a href="/docs/credits/" class="elv-nav-light">Credits</a> #}
        <div class="view-source">
            (<a href="https://github.com/CalebBurton/website-source" target="_blank" rel="noopener">View the source here!</a>)
        </div>
    </section>
</footer>
