<header>
    <div class="header-wrapper">
        <a href="/" title="Home Page" rel="home">
            <picture aria-hidden="true">
                <source srcset="/static/logo.svg 40w">
                <img src="/static/logo.svg" alt="Logo" class="logo" />
                {#- {% include "svgs/logo.svg" %} #}
            </picture>
        </a>
        {#- <div class="menu-wrapper">
            <span class="nav-toggle">☰ Menu</span>
            <nav class="menu" aria-hidden="true">
                <ul class="menu">
                    <li class="">
                        {% url '/about', 'About' %}
                    </li>
                    <li class="">
                        {% url '/work', 'Work' %}
                    </li>
                    <li class="">
                        {% url '/contact', 'Contact' %}
                    </li>
                </ul>
            </nav>
        </div> #}
    </div>
</header>
{#- <header class="elv-layout elv-layout-full elv-header{% if headerClass %} {{ headerClass }}{% endif %}">
    <div class="announcement">
        <div class="lo announcement-lo">
            <a href="https://blacklivesmatter.com/" class="lo-c">Black Lives Matter</a>
            <a href="https://eji.org/" class="lo-c">The Equal Justice Initiative</a>
            <a href="http://www.wetheprotesters.org/" class="lo-c">We The Protesters</a>
            <a href="https://deletefacebook.com/" class="lo-c">Delete Facebook</a>
        </div>
    </div>

    <div class="elv-header-c">
        <a href="{% if logoLink %}{{ logoLink | url }}{% else %}/{% endif %}" class="elv-hero elv-externalexempt">{% include "../src/static/logo.svg" %}<span class="sr-only">Eleventy</span></a>
        <a href="https://twitter.com/jameswillweb/status/999052022497316865" class="elv-externalexempt elv-possum-anchor" data-investors-avatar>
            <picture class="elv-possum-pic">
                <source srcset="/img/possum-balloon-original.webp" type="image/webp">
                <img src="/img/possum-balloon-original-sm.png" class="elv-possum" alt="The possum is Eleventy’s mascot" loading="lazy">
            </picture>
        </a>
        <h1 class="elv-hed">{{ title | orphanWrap | safe }}</h1>
        <div class="elv-nav-header">
            <ul class="elv-nav lo">
                <li class="elv-nav-item lo-c"><a href="{{ "/docs/" | url }}" class="elv-externalexempt">Docs</a></li>
                <li class="elv-nav-item lo-c"><a href="{{ "/docs/search/" | url }}" class="elv-nav-light">Search</a></li>
                <li class="elv-nav-item lo-c lo-nocontentwrap"><a href="https://github.com/11ty/eleventy/" class="elv-nav-light elv-externalexempt"><b>GitHub</b></a></li>
                <li class="elv-nav-item lo-c lo-nocontentwrap"><a href="https://twitter.com/eleven_ty" class="elv-nav-light elv-externalexempt"><b>Twitter</b></a></li>
                <li class="elv-nav-item lo-c lo-nocontentwrap"><a href="/news/discord/" class="elv-nav-light"><b>Discord</b></a></li>
                <li class="elv-nav-item lo-c lo-nocontentwrap"><a href="https://twitter.com/zachleat" class="elv-nav-light elv-externalexempt nound"><b class="und">zachleat</b></a></li>
            </ul>
        </div>
    </div><!-- /elv-nav-header -->
</header> #}
