.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

#{headings()} {
    a.direct-link {
        visibility: hidden;
    }

    &:hover {
        a.direct-link {
            visibility: visible;
        }
    }
}

a.direct-link {
    margin-left: 0.25rem;
}

p {
    line-height: 1.4rem;
}

li {
    margin-top: 0.75rem;
}

pre {
    background: $dark;
    color: $light;
    padding: 10px;

    border: 1px solid $gray;
    border-radius: 4px;
}
