.theme--default {
  --color-text: var(--color-white);
  --color-primary: var(--color-purple);
  --color-secondary: var(--color-gray);
  --color-accent: var(--color-gold);
  --color-accent-2: var(--color-blue);
}
