---
layout: layouts/base.njk
title: Not Found
permalink: /404.html
---

<div class="app theme--default">
  <main>
    <h1 class="text--xl font--heading font--bold">Oops!</h1>
    <p class="text--md font--heading aligned--left">
      There's no page at that address... would you like to try one of the
      following?
    </p>
    <ul class="text--md font--heading aligned--left listWrapper">
      <li class="bullets">
        <a href="/">Visit the homepage</a>
      </li>
      <li class="bullets">
        <a href="https://github.com/CalebBurton/website-source/issues">
          Submit a bug report
        </a>
      </li>
    </ul>
  </main>
</div>
