---
layout: main
showCredits: false
pageTitle: Credits
---

<section>
    <h1 id="credits">Credits<a class="direct-link" href="#credits">#</a></h1>
    {# <p>
        This site is designed, built, and maintained by me, Caleb Burton. However, it would be a lie to say I did this all by myself. The following tools, websites, and mentors were critical in bringing this site to life:
    </p> #}
    <h2 id="tools">Tools<a class="direct-link" href="#tools">#</a></h2>
    <p>
        Creating a website from scratch and getting it on the internet is hard. Luckily, there are plenty of great open-source tools out there that made things much easier for me:
    </p>
    <ul>
        <li>
            I purchase <strong><em>hosting</em></strong> from {% url 'https://do.co', 'Digital Ocean' %} and <strong><em>domain registration</em></strong> from {% url 'https://www.namecheap.com', 'Namecheap' %}.
        </li>
        <li>
            The files are stitched together and <strong><em>compiled</em></strong> using {% url 'https://www.11ty.dev/', 'Eleventy' %}: a free, open-source static site generator licensed under the {% url 'https://opensource.org/licenses/MIT', 'MIT license' %}.
        </li>
        <li>
            Those compiled files only make their way to your computer because of the {% url 'https://httpd.apache.org/', 'Apache HTTP Server Project' %}, which is an archetype of free, open-source software. Appropriately, it's licensed under the {% url 'https://www.apache.org/licenses/LICENSE-2.0', 'Apache License, Version 2.0' %}.
        </li>
        <li>
            I <strong><em>edit</em></strong> the code with {% url 'https://code.visualstudio.com/', 'VS Code' %}: a free, open-source text editor maintained by Microsoft and distributed under the {% url 'https://opensource.org/licenses/MIT', 'MIT license' %}.
        </li>
        <li>
            <strong><em>Icons</em></strong> come from {% url 'https://fontawesome.com/', 'FontAwesome' %} and {% url 'https://thenounproject.com/', 'the Noun Project' %}, which both provide their assets for free under the Creative Commons BY license. FontAwesome uses {% url 'https://creativecommons.org/licenses/by/4.0/', 'version 4.0' %}, while the Noun Project uses {% url 'https://creativecommons.org/licenses/by/3.0/', 'version 3.0' %}.
        {#- <li>
            <strong><em>Quality assurance</em></strong> was performed with {% url 'https://www.katalon.com/', 'Katalon Studio' %}, an automated testing suite provided for free under the {% url 'https://www.katalon.com/license-agreement/', 'Katalon License' %}.
        </li> #}
        <li>
            As far as <strong><em>pre-processors</em></strong> go, I rely on {% url 'https://sass-lang.com/', 'Sass' %} to handle my CSS, {% url 'https://prettier.io/', 'Prettier' %} to clean up my javascript, and {% url 'http://alexjs.com/', 'Alex' %} to proofread my text. {% url 'https://webpack.js.org/', 'Webpack' %} then bundles everything together. All of these are free, open-source, and provided under the {% url 'https://opensource.org/licenses/MIT', 'MIT license' %}.
        </li>
        <li>
            {% url 'https://nodejs.org/en/', 'Node.js' %} pulled everything together and acted as the <strong><em>platform</em></strong> for implementing many of the tools described above. It is an open-source project provided for free under a {% url 'https://raw.githubusercontent.com/nodejs/node/master/LICENSE', 'custom license' %}.
        </li>
    </ul>

    {# <h2 id="people">People<a class="direct-link" href="#people">#</a></h2>
    <p>
        Even more important than the tools I used are the people who helped me get to this point in my coding journey:
    </p>
    <ul>
        <li>
            <strong><em>Cathy Metzger</em></strong> sparked my interest in programming when she taught me HTML, Javascript, and CSS way back in 5th grade.
        </li>
        <li>
            <strong><em>Jeff Grogran</em></strong>, <strong><em>Andrew Tang</em></strong>, and <strong><em>Cary Murray</em></strong> spent countless hours coding by my side, sharpening my skills and sharing in my excitement. I never would have kept at it without the encouragment and support they gave me whenever I couldn't make the computer do what I wanted.
        </li>
        <li>
            <strong><em>Lynne Jeffers</em></strong> believed in me enough to give me my first summer job as a web developer, re-building the internal homepage for Northwestern University's student IT department.
        </li>
        <li>
            My past and present <strong><em>coworkers</em></strong> have always been the best I could ask for, and continue to teach me so much about the art and science of programming. I'm especially grateful to <strong><em>Chris Blair</em></strong>, who helped me get my first full-time job out of college as an entry-level web developer.
        </li>
        <li>
            Finally, I owe a huge debt to my wife, <strong><em>Morgan Danyi-Burton</em></strong>, and my parents, <strong><em>Dan and Sue Burton</em></strong>. Like with most accomplishments in my life, I can't imagine how I would have done this without the loving foundation they provide.
        </li>
    </ul> #}

    <h2 id="reference">Reference<a class="direct-link" href="#reference">#</a></h2>
    <p>
        Between HTML, CSS, Javascript, and the surrounding frameworks, there's a lot to remember when creating a website. These resources were invaluable for learning syntax, remembering functionalities, and seeing example code:
    </p>
    <ul>
        <li>
            CSS design mostly comes from {% url 'https://css-tricks.com/', 'CSS Tricks' %}.
        </li>
        <li>
            For HTML and Javascript, I reference the {% url 'https://developer.mozilla.org/en-US/', 'Mozilla Developer Network' %}.
        </li>
        <li>
            Whenever I need specific examples, {% url 'https://stackoverflow.com/', 'Stack Overflow' %} is there for me.
        </li>
    </ul>
{#-
## Tidbits

I used snippets of code from various blogs and designers to spice things up and add small features to the site:

- The header image's parallax scroll effect comes from {% url 'https://www.okgrow.com/posts/css-only-parallax', 'Karl Danninger' %} at OK Grow

[//]: # (- https://brittanychiang.com/ for inspiration)
[//]: # (- https://kvlly.com/ for inspiration)
[//]: # (- https://www.alispit.tel/ for inspiration)
#}
</section>
