{{#> layouts/base }}
    {{#*inline "main-block"}}
        <section>
            <h2>Welcome!</h2>
            <p>
                I'm a web developer in South Carolina, and you're viewing my <em>third</em> attempt at a personal
                website. There isn't much here at the moment, but please take a look around and enjoy! These meager
                offerings will improve at a slow pace; my first two attempts were spoiled by biting off more than I
                could chew, and I'm trying very hard to take my time and get this version right.
            </p>
        </section>
        <section>
            <h2>Now</h2>
            <ul>
                <li>q</li>
                <li>w</li>
                <li>e</li>
                <li>r</li>
            </ul>
        </section>
        <section>
            <h2>Uses</h2>
            <ul>
                <li>t</li>
                <li>y</li>
                <li>u</li>
            </ul>
        </section>
        <section>
            <h2>Portfolio</h2>
            <ul>
                <li>i</li>
                <li>o</li>
                <li>p</li>
            </ul>
        </section>
    {{/inline}}
    {{#*inline "dev-toggles-block"}}
        <div class="dev-toggles-container">
            <div>
                <label for="dev-border">Border:</label>
                <input type="checkbox" class="dev-toggle" name="border" id="dev-border">
            </div>
            <div>
                <label for="dev-bg">Bg:</label>
                <input type="checkbox" class="dev-toggle" name="bg" id="dev-bg">
            </div>
        </div>
    {{/inline}}
{{/layouts/base}}
