:root {
  --color-github: #ebebeb;
  --color-email: #d44638;
  --color-linkedin: #2867b2;

  --color-white: #ebebeb;
  --color-grey: hsl(0, 0%, 16%);
  --color-gray: var(--color-grey);
  --color-black: #0b0b0b;

  // IMPORTANT: Remember to update the coolors.co link if you change these
  --color-purple: hsl(266, 79%, 15%); // hsl(266, 78%, 15%);
  --color-gold: hsl(32, 67%, 67%); // hsl(32, 45%, 40%); // hsl(32, 29%, 50%);
  --color-blue: hsl(210, 35%, 19%);
}
