.theme--default {
  --color-text: var(--color-white);
  --color-primary: var(--color-blue-2);
  --color-secondary: var(--color-gray);
  --color-accent: var(--color-khaki);
  --color-accent-2: var(--color-blue);
}
