:root {
  --font-text: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
    "Apple Color Emoji", /* Emoji */ "Segoe UI Emoji",
    /* Emoji */ "Segoe UI Symbol"; /* Emoji */
  --font-heading: -apple-system-headline, var(--font-text);

  --weight-thin: 300;
  --weight-rg: 400;
  --weight-bold: 700;

  --text-xs: 1.2rem;
  --text-sm: 1.6rem;
  --text-md: 1.8rem;
  --text-lg: 2rem;
  --text-xl: 2.8rem;
  --text-xxl: 5.25rem;
}
