---
layout: layouts/main.njk
pageTitle: Public Keys
---

<section>
    <h1 id="keys">Public Keys<a class="direct-link" href="#keys">#</a></h1>
    <h2 id="pgp">PGP<a class="direct-link" href="#pgp">#</a></h2>
    <p>
        You can send me encrypted messages or files using {% url 'https://www.openpgp.org/', 'PGP' %} and the public key listed below. If you prefer to download the key instead of copying it, you can {% url '/static/publickey.hi@calebburton.com-267e1bd602db03be8f43ad154e760c6c657b5b51.asc', 'do that here', true %}.
    </p>
    <pre>{% include "../src/static/publickey.hi@calebburton.com-267e1bd602db03be8f43ad154e760c6c657b5b51.asc" %}</pre>
</section>
