.footer-wrapper {
  display: grid;

  @media only screen and (min-width: 1300px) {
    justify-content: center;
  }
}

.byline {
  font-size: var(--text-sm);
  text-align: center;
  margin-top: 10rem;
  padding: 0 1rem;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  text-align: center;
  row-gap: 4rem;
  padding: 3rem 2rem 1.4rem;
  margin-bottom: 5rem;

  @media only screen and (min-width: 1300px) {
    width: 100rem;
  }

  span {
    font-size: var(--text-xs);
    &:not(:last-child) {
      border-right: 1px solid var(--color-text);
      margin-right: 1rem;
      padding-right: 1rem;
    }
  }

  &--visible {
    .credit,
    & > span:last-child {
      animation: fadeIn forwards 1s;
    }
  }

  @media only screen and (min-width: 600px) {
    grid-template-columns: max-content 1fr;
  }
}

.link {
  text-decoration-color: var(--color-text);

  &:link,
  &:visited {
    background-color: var(--color-secondary);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
