<div class="dev-toggles-container">
    <div>
        <label for="dev-border">Border:</label>
        <input type="checkbox" class="dev-toggle" name="border" id="dev-border">
    </div>
    <div>
        <label for="dev-bg">Bg:</label>
        <input type="checkbox" class="dev-toggle" name="bg" id="dev-bg">
    </div>
</div>
