<footer>
    <section id="footer-social">
        <ul>
            <li>
                <a href="https://github.com/CalebBurton/" title="Github" target="_blank" rel="noopener">
                    {#- <picture aria-hidden="true">
                        <source srcset="assets/static/github.svg 40w">
                        <img src="assets/static/github.svg" alt="Github" />
                    </picture> #}
                    {%- include "svgs/github.svg" %}
                </a>
            </li>
            <li>
                <a href="mailto:hi@calebburton.com" title="Email">
                    {# <picture aria-hidden="true">
                        <source srcset="assets/static/envelope.svg 40w">
                        <img src="assets/static/envelope.svg" alt="Email" />
                    </picture> #}
                    {%- include "svgs/envelope.svg" %}
                </a>
            </li>
            <li>
                <a href="/pages/keys" title="PGP Public Key">
                    {# <picture aria-hidden="true">
                        <source srcset="assets/static/envelope.svg 40w">
                        <img src="assets/static/envelope.svg" alt="Email" />
                    </picture> #}
                    {%- include "svgs/key.svg" %}
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/caleb-charles-burton/" title="LinkedIn" target="_blank" rel="noopener">
                    {#- <picture aria-hidden="true">
                        <source srcset="assets/static/linkedin.svg 40w">
                        <img src="assets/static/linkedin.svg" alt="LinkedIn" />
                    </picture> #}
                    {%- include "svgs/linkedin.svg" %}
                </a>
            </li>
        </ul>
    </section>
    <section id="footer-copy">
        <hr />
        <p>
            Designed, built, and maintained by Caleb Burton. {% url '/pages/credits/#License', 'No rights reserved.' %}
        </p>
        <p>
            Last build was <code>{{ computed.now.dateString }}</code> at <code>{{ computed.now.timeString }} UTC</code>
        </p>
        <p>
        {%- if showCredits %}
            {% url '/pages/credits', 'See the credits' %} or {% url 'https://github.com/CalebBurton/website-source', 'view the source code' %}
        {%- else %}
            {% url 'https://github.com/CalebBurton/website-source', 'View the source code' %}
        {% endif %}
        </p>
    </section>
</footer>
