---
permalink: '/assets/styles/themes.css'
eleventyExcludeFromCollections: true
---

{%- macro colorscheme(colors) -%}
    --color-primary: {{ colors.primary }};
    --color-secondary: {{ colors.secondary }};
    --color-text: {{ colors.text }};
    --color-border: {{ colors.border }};
    --color-bg: {{ colors.background }};
    --color-links: {{ colors.links }};
    {#
    --color-primary-offset: {{ colors.primaryOffset }};
    --color-text-offset: {{ colors.textOffset }};
    --color-bg-offset: {{ colors.backgroundOffset }};
    #}
{%- endmacro -%}

{%- set light = themes|findById('light') -%}
{%- set dark = themes|findById('dark') -%}

:root {
    {{ colorscheme(light.colors) }}
}

@media(prefers-color-scheme: dark) {
    :root {
        {{ colorscheme(dark.colors) }}
    }
}

{% for theme in themes %}
[data-theme='{{ theme.id }}'] {
    {{ colorscheme(theme.colors) }}
}
{% endfor %}
