.footer-wrapper {
  display: grid;

  @media only screen and (min-width: 1300px) {
    justify-content: center;
  }
}

.footer {
  display: grid;
  align-items: center;
  row-gap: 4rem;
  padding: 3rem 2rem 1.4rem;

  @media only screen and (min-width: 1300px) {
    width: 100rem;
  }

  & > span:last-child {
    justify-self: center;
    grid-column: 1 / -1;

    // ANIMATION PRESETS
    opacity: 0;
  }

  &--visible {
    // .socials li {
    //    &:nth-child(3) {
    //       animation: firstSocialIn forwards 2s;
    //    }
    //    &:nth-child(2) {
    //       animation: secondSocialIn forwards 2s;
    //    }
    //    &:nth-child(1) {
    //       animation: thirdSocialIn forwards 2s;
    //    }
    // }

    .credit,
    & > span:last-child {
      animation: fadeIn forwards 1s;
    }
  }

  @media only screen and (min-width: 600px) {
    grid-template-columns: max-content 1fr;
  }
}

.link {
  text-decoration-color: var(--color-text);

  &:link,
  &:visited {
    background-color: var(--color-secondary);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
