//==============================================================================
// Covenant Eyes Brand standard Colors
//
//   See http://cewiki.ces.cvnt.net/mediawiki/index.php/Brand_Standards
//   for more information.
//==============================================================================

// Blues
$regal-blue: #07466D;
$bahama: #0175BB;
$denim: #1997EB;
$dodger: #5CC0FB;
$cornflower: #8DD2FC;
$french-pass: #BDE6FE;
$aqua-spring: #E5F5FE;
$lily-white: #F4FAFB;

// Grays
$mine-shaft: #3D3D3D;
$emperor: #575757;
$dove-gray: #707070;
$dusty-gray: #969696;
$silver: #BDBDBD;
$alto: #D6D6D6;
$wild-sand: #F5F5F5;

// Greens
$goblin: #38823E;
$kelly-green: #439B4A;
$fern: #69BF70;
$moss-green: #9FD6A3;
$pistachio: #D3ECD6;

// Teals
$eastern-blue: #188B9F;
$corvette: #1FA9C0;
$scooter: #27CFEC;
$malibu: #7CE7F6;
$foam: #D0F6FC;

// Oranges
$zest: #D4691C;
$tang: #EE7B24;
$porsche: #F6A157;
$peach: #FAC89B;
$old-lace: #FDF0E3;

// Reds
$old-spice: #BA1019;
$crimson: #DB141E;
$flamingo: #F1454A;
$froly: #F47577;
$rose-bud: #FBD4D4;


//==============================================================================
// Global Colors
//
//   These colors are global overrides for colors used in core modules.
//==============================================================================
$black: #000000;
$blue: $bahama;
$green: $kelly-green;
$orange: $tang;
$red: $old-spice;
$white: #FFFFFF;
$yellow: #FCFDB3;