//==============================================================================
// GO CATS Colors
//==============================================================================

$purple-0: hsl(266, 78%, 15%);
$purple-1: hsl(266, 53%, 30%);
$purple-2: hsl(266, 33%, 44%);
$purple-3: hsl(266,20%,60%);
$purple-4: hsl(266,20%,80%);
$purple: $purple-0;

$gold: hsl(32, 45%, 40%);

$green-0: hsl(159, 100%, 26%);

$blue-0: hsl(211, 78%, 15%);
$blue-1: hsl(211, 100%, 30%);

$blue-2: hsl(194, 100%, 30%);
$blue-3: hsl(194, 100%, 40%);

$gray-0: hsl(0, 0%, 40%);
$gray-1: hsl(0, 0%, 78%);
$gray-2: hsl(300, 32%, 91%);

//==============================================================================
// Standard Colors
//==============================================================================

// Grays
$mine-shaft: hsl(0, 0%, 24%);
$emperor: hsl(0, 0%, 34%);
$dove-gray: hsl(0, 0%, 44%);
$dusty-gray: hsl(0, 0%, 59%);
$silver: hsl(0, 0%, 74%);
$alto: hsl(0, 0%, 84%);
$wild-sand: hsl(0, 0%, 96%);

// Teals
$eastern-blue: hsl(189, 74%, 36%);
$corvette: hsl(189, 72%, 44%);
$scooter: hsl(189, 84%, 54%);
$malibu: hsl(189, 87%, 73%);
$foam: hsl(189, 88%, 90%);

// Reds
$old-spice: hsl(357, 84%, 40%);
$crimson: hsl(357, 84%, 47%);
$flamingo: hsl(357, 86%, 61%);
$froly: hsl(357, 85%, 71%);
$rose-bud: hsl(0, 83%, 91%);


//==============================================================================
// Global Overrides
//==============================================================================
$black: hsl(0, 0%, 0%);
$blue: hsl(203, 99%, 37%);
$green: hsl(125, 40%, 44%);
$orange: hsl(26, 86%, 54%);
$red: hsl(357, 84%, 40%);
$white: hsl(0, 0%, 100%);
$yellow: hsl(44, 100%, 56%);
