// * { background-color: rgba(255,0,0,.2); }
// * * { background-color: rgba(0,255,0,.2); }
// * * * { background-color: rgba(0,0,255,.2); }
// * * * * { background-color: rgba(255,0,255,.2); }
// * * * * * { background-color: rgba(0,255,255,.2); }
// * * * * * * { background-color: rgba(255,255,0,.2); }
// * * * * * * * { background-color: rgba(255,0,0,.2); }
// * * * * * * * * { background-color: rgba(0,255,0,.2); }
// * * * * * * * * * { background-color: rgba(0,0,255,.2); }

// html * {
//     background: rgba(255, 0, 0, .1);
//     box-shadow: 0 0 0 1px red;
// }

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%
}

body {
    display: flex;
    flex-direction: column;

    max-width: 800px;
    margin: auto;
    border: 1px solid red;
}

header {
    margin: auto;
    width: 100%;
    text-align: center;
    border: 1px solid blue;
}

main {
    flex: 1 0 auto;
}

.subhead {
    display: flex;
    list-style: none;
    padding-left: 0;

    li {
        flex-grow: 1;
        flex-basis: calc(100%/3);
        border: 1px solid green;
    }
}

footer {
    display: flex;
}

.copyright {
    flex: 1 0 auto;
    align-self: flex-end;
}

.social {
    display: flex;

    flex: 1 0 auto;
    border: 1px dotted black;

    ul {
        display: flex;
        justify-content: space-evenly;

        width: 100%;
        list-style: none;
        padding-left: 0;
        margin: 0;
    }

    li {
        display: flex;
        justify-content: space-evenly;

        flex-grow: 1;
        flex-basis: calc(100%/3);
        border: 1px solid pink;
    }

    picture,
    img {
        height:2.5rem;
        width: 2.5rem;
    }
}