@import 'colors';
@import 'fonts';

$bg-color: $purple-0;
$font-color: $purple-3;

// *********************
// * Dev Styling
// *********************

html.dev-bg { background-color: $bg-color; }
html.dev-bg * { background-color: rgba(0,255,0,.2); }
html.dev-bg * * { background-color: rgba(0,0,255,.2); }
html.dev-bg * * * { background-color: rgba(255,0,255,.2); }
html.dev-bg * * * * { background-color: rgba(0,255,255,.2); }
html.dev-bg * * * * * { background-color: rgba(255,255,0,.2); }
html.dev-bg * * * * * * { background-color: rgba(255,0,0,.2); }
html.dev-bg * * * * * * * { background-color: rgba(0,255,0,.2); }
html.dev-bg * * * * * * * * { background-color: rgba(0,0,255,.2); }

html.dev-border * {
    box-shadow: 0 0 0 1px red;
}

.dev-toggles-container {
    position: absolute;
    bottom: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    text-align: right;
}

// *********************
// * Actual Page Styling
// *********************

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%
}

body {
    display: flex;
    flex-direction: column;

    max-width: 800px;
    margin: auto;

    color: $font-color;
    background-color: $bg-color;

    font-family: $heading-sans;

}

svg {
    fill: currentColor;
}

a,
a:visited {
    color: $blue-2;
}

header,
main,
footer {
    padding: 0 25px;
}

header {
    display: flex;
    height: 100px;
    width: 100%;
    
    .header-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-toggle {
        cursor: pointer;
    }

    nav {
        position: fixed;

        &[aria-hidden="true"] {
            display: none;
        }

        &[aria-hidden="false"] {
            display: block;
        }
    }

    img.logo {
        height: 2.5em;
        width: 2.5em;
    }
}

main {
    flex: 1 0 auto;

    .masthead {
        margin: auto;
        width: 100%;
        text-align: center;
    }

    .subhead {
        display: flex;
        list-style: none;
        padding-left: 0;
    
        li {
            flex-grow: 1;
            flex-basis: calc(100%/3);
        }
    }
}

footer {
    text-align: center;
    padding: 15px;
}

.footer-copy {
    display: block;
}

.footer-social {
    margin: 0px auto 10px;
    max-width: 150px;

    ul {
        display: flex;
        justify-content: space-between;

        width: 100%;
        list-style: none;
        padding-left: 0;
        margin: 0;
    }

    li {
        display: list-item;
    }

    a svg{
        color: $font-color;
    }
}
