---
layout: main
pageTitle: Public Keys
---

<section>
    <h1 id="keys">Public Keys<a class="direct-link" href="#keys">#</a></h1>
    <h2 id="pgp">PGP<a class="direct-link" href="#pgp">#</a></h2>
    <p>
        You can send me encrypted messages or files using {% url 'https://www.openpgp.org/', 'PGP' %} and the public key listed below. If you prefer to download the key instead of copying it, you can do that by {% url '/assets/static/publickey.hi@calebburton.com-267e1bd602db03be8f43ad154e760c6c657b5b51.asc', 'clicking here', true %}. If you use a {% url 'https://protonmail.com', 'ProtonMail' %} account, don't worry about fussing with PGP; your messages to me will automatically be encrypted.
    </p>
    <pre>{% include "../assets/static/publickey.hi@calebburton.com-267e1bd602db03be8f43ad154e760c6c657b5b51.asc" %}</pre>
</section>
