/* https://a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

:target {
    animation-name: fadeout-background;
    animation-duration: 2s;
}

@keyframes fadeout-background {
    from {
        background-color: var(--color-secondary);
    }

    to {
        background-color: unset;
    }
}

.disabled,
:disabled {
    cursor: not-allowed !important;
}

/* https://github.com/mozdevs/cssremedy/issues/11#issuecomment-462867630 */
@media (prefers-reduced-motion: reduce) {
    *:not(.safe-animation),
    *:not(.safe-animation)::before,
    *:not(.safe-animation)::after {
        animation-duration: 0.01s !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0s !important;
        scroll-behavior: auto !important;
    }
}
