.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

#{headings()} {
    a.direct-link {
        visibility: hidden;
    }

    &:hover {
        a.direct-link {
            visibility: visible;
        }
    }
}

a.direct-link {
    margin-left: 0.25rem;
}

// Use https://codepen.io/calebburton/pen/MWjepRJ to convert to the color of choice, in this case var(--blue-2)
a.external,
a.download {
    img {
        filter: invert(44%) sepia(22%) saturate(2710%) hue-rotate(156deg) brightness(101%) contrast(101%);
        margin-left: 0.125rem;
        margin-right: 0.125rem;
        vertical-align: middle;
    }
}

p {
    line-height: 1.4rem;
}

li {
    margin-top: 0.75rem;
}

pre {
    background: var(--dark);
    color: var(--color-text);
    padding: 10px;
    overflow: auto;

    border: 1px solid var(--color-text);
    border-radius: 4px;
}
